.App {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  padding: 2rem;
  overflow: hidden;
}

.Root {
  flex: 1;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  border: 1px solid var(--color-gray-200);
  background-color: white;
  border-radius: 8px;
}

.Viewport {
  flex: 1;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  overflow: auto;
}

.Content {
  position: relative; /* Necessary for scrolling to work */
}

.Header {
  position: sticky;
  top: 0;
  z-index: 40;
  background-color: var(--color-gray-50);
  border-bottom: 1px solid var(--color-gray-200);
}

:is(.HeaderRow, .Row) {
  box-sizing: border-box;
  display: flex;
  height: var(--data-grid-row-height);
}

:is(.HeaderCell, .Cell) {
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: var(--data-grid-cell-width);
  padding: 0.5rem 0.75rem;
  gap: 8px;
  font-size: 0.875rem;
  color: var(--color-gray-900);
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
  cursor: default;

  &:focus-visible {
    z-index: 1;
    outline: 2px solid var(--color-blue);
    outline-offset: -2px;
  }
}

:is(.HeaderCell, .Cell) svg {
  flex-shrink: 0;
}

.HeaderCell {
  font-weight: 500;
  user-select: none;
}

@media (hover: hover) {
  .HeaderCell:hover {
    background-color: var(--color-gray-100);
  }
}

.HeaderCell:active {
  background-color: var(--color-gray-200);
}

/* :is(.HeaderCell, .Cell):not(:last-child) {
  border-right: 1px solid var(--color-gray-200);
} */

.Row:not(:last-child) .Cell {
  border-bottom: 1px solid var(--color-gray-200);
}

.SortIndicator {
  flex-shrink: 0;
  margin-bottom: -4px;
  margin-left: auto;
}

/* Cell content */

.Badge {
  padding: 0 4px;
  height: 1.25rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-100);
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-gray-600);
}

.Avatar {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: var(--color-gray-200);
  color: var(--color-gray-500);
  font-size: 0.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.Link {
  color: var(--color-blue);
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* Toolbar */

.Toolbar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 0 0.75rem;
  gap: 0.5rem;
  margin: 0;
  outline: 0;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
  background-color: var(--color-gray-50);
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--color-gray-900);
  user-select: none;

  @media (hover: hover) {
    &:hover:not([data-disabled]) {
      background-color: var(--color-gray-100);
    }
  }

  &:active:not([data-disabled]) {
    background-color: var(--color-gray-200);
    box-shadow: inset 0 1px 3px var(--color-gray-200);
    border-top-color: var(--color-gray-300);
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }

  &[data-disabled] {
    color: var(--color-gray-500);
  }
}

/* Popover */

.PopoverPositioner {
  z-index: 40;
  width: var(--positioner-width);
  height: var(--positioner-height);
  max-width: var(--available-width);
}

.PopoverPopup {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  background-color: canvas;
  color: var(--color-gray-900);
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;

  width: var(--popup-width, auto);
  height: var(--popup-height, auto);
  max-width: 500px;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  @media (prefers-color-scheme: light) {
    outline: 1px solid var(--color-gray-200);
    box-shadow:
      0 10px 15px -3px var(--color-gray-200),
      0 4px 6px -4px var(--color-gray-200);
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--color-gray-300);
    outline-offset: -1px;
  }
}

/* Select */

.SelectField {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.SelectLabel {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--color-gray-900);
  cursor: default;
}

.SelectValue[data-placeholder] {
  opacity: 0.6;
}

.SelectTrigger {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  height: 2rem;
  padding: 0 0.5rem 0 0.75rem;
  margin: 0;
  outline: 0;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
  background-color: canvas;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--color-gray-900);
  -webkit-user-select: none;
  user-select: none;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-gray-100);
    }
  }

  &[data-popup-open] {
    background-color: var(--color-gray-100);
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }
}

.SelectIcon {
  display: flex;
}

.SelectPositioner {
  z-index: 50;
  outline: none;
  -webkit-user-select: none;
  user-select: none;
}

.SelectPopup {
  box-sizing: border-box;
  border-radius: 0.375rem;
  background-color: canvas;
  background-clip: padding-box;
  color: var(--color-gray-900);
  min-width: var(--anchor-width);
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  &[data-side='none'] {
    transition: none;
    transform: none;
    opacity: 1;
    min-width: calc(var(--anchor-width) + 1rem);
  }

  @media (prefers-color-scheme: light) {
    outline: 1px solid var(--color-gray-200);
    box-shadow:
      0 10px 15px -3px var(--color-gray-200),
      0 4px 6px -4px var(--color-gray-200);
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--color-gray-300);
  }
}

.SelectList {
  box-sizing: border-box;
  position: relative;
  padding-block: 0.25rem;
  overflow-y: auto;
  max-height: var(--available-height);
  scroll-padding-block: 1.5rem;
}

.SelectArrow {
  display: flex;

  &[data-side='top'] {
    bottom: -8px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -8px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -13px;
    rotate: -90deg;
  }
}

.SelectArrowFill {
  fill: canvas;
}

.SelectArrowOuterStroke {
  @media (prefers-color-scheme: light) {
    fill: var(--color-gray-200);
  }
}

.SelectArrowInnerStroke {
  @media (prefers-color-scheme: dark) {
    fill: var(--color-gray-300);
  }
}

.SelectItem {
  box-sizing: border-box;
  outline: 0;
  font-size: 0.875rem;
  line-height: 1rem;
  padding-block: 0.5rem;
  padding-left: 0.625rem;
  padding-right: 1rem;
  display: grid;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: 0.75rem 1fr;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;

  @media (pointer: coarse) {
    padding-block: 0.625rem;
    font-size: 0.925rem;
  }

  [data-side='none'] & {
    font-size: 0cap875rem;
    padding-right: 3rem;
  }

  &[data-highlighted] {
    z-index: 0;
    position: relative;
    color: var(--color-gray-50);
  }

  &[data-highlighted]::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.25rem;
    border-radius: 0.25rem;
    background-color: var(--color-gray-900);
  }
}

.SelectItemIndicator {
  grid-column-start: 1;
}

.SelectItemIndicatorIcon {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
}

.SelectItemText {
  grid-column-start: 2;
}

.SelectScrollArrow {
  width: 100%;
  background: canvas;
  z-index: 1;
  text-align: center;
  cursor: default;
  border-radius: 0.375rem;
  height: 1rem;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
  }

  &[data-direction='up'] {
    &[data-side='none'] {
      &::before {
        top: -100%;
      }
    }
  }

  &[data-direction='down'] {
    bottom: 0;

    &[data-side='none'] {
      &::before {
        bottom: -100%;
      }
    }
  }
}
